@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

:root {
  --color-primary: #cc1759;
  --color-secondary: #272c35;
  --color-white: #f8f8f8;
}

body {
  font-family: 'Fira Mono', monospace;;
  height: 100vh;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  background-color: var(--color-secondary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.start {
  background-color: var(--color-primary);
  position: fixed; 
  height: 32rem;
  width: 90vw;
  border-radius: 1rem;
  text-align: center;
}

.start form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.start form input {
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  padding: 0.7rem;
  text-transform: uppercase;
}

.start form button {
  background-color: var(--color-secondary);
  text-transform: uppercase;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  color: var(--color-white);
  font-size: 1rem;
}

.counter {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.5rem 0;
  align-items: center;
  font-size: 2rem;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.player:not(:last-child) {
  border-bottom: 1px solid var(--color-grey);
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 2rem;
  width: 5.2rem;
  padding: 0.2rem 0;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}


.btn:active {
  background-color: var(--color-grey);
  transform: translateY(4px);
}
.active {
  font-weight: bold;
  background-color: var(--color-primary);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
