* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  user-select: none;
  overflow-y: hidden;
}

:root {
  --color-player1: #cc1759;
  --color-player2: #071750;
  --color-player3: #f39302;
  --color-player4: #7cd85e;
  --color-player5: #0a2a50;
  --color-player6: #ffde7f;
  --color-grey: #aaacad;
}

.counter {
  color: #ffffff;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.player {
  height: 50vh;
  min-width: 100vw;
  scroll-snap-align: start;

  border-right: 1px;
  text-align: center;
}

.player__score {
  font-size: 9rem;
}

.player1,
.player3,
.player5 {
  transform: rotate(180deg);
}

.player1 {
  background-color: var(--color-player1);
}
.player2 {
  background-color: var(--color-player2);
}
.player3 {
  background-color: var(--color-player3);
}
.player4 {
  background-color: var(--color-player4);
}
.player5 {
  background-color: var(--color-player5);
}
.player6 {
  background-color: var(--color-player6);
}

.btns-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.btn {
  font-size: 2.4rem;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 5rem;
  border: none;
  border-radius: 1.2rem;
  touch-action: manipulation;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.btn:active {
  background-color: var(--color-grey);
  transform: translateY(4px);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .player1,
  .player3,
  .player5 {
    transform: none;
  }

  .player > p {
    font-size: 3rem;
  }

  .btns-container {
    margin: 2rem auto;
    width: 800px;
  }

  .btn {
    font-size: 4rem;
    width: 10rem;
  }
}
